.experience {
  margin: 40px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: calc(100vh - 70px);
}

.title {
  font-size: 2rem;
  text-transform: uppercase;
  max-width: 450px;
  width: 100%;
  text-align: center;
}

.experience_list {
  display: flex;
  gap: 20px;
  flex-direction: column;
  margin: 10px auto;
  align-items: center;
  border-radius: 10px;
  color: rgb(0, 0, 0);
  overflow: hidden;
}

.experience_item {
  background-color: rgb(255, 255, 255);
  display: grid;
  grid-template-columns: 0.7fr 0.5fr 1fr;
  gap: 10px;
  padding: 20px;
  justify-content: center;
  margin: 0 auto;
  max-width: 1000px;

  width: 100%;


  @media (max-width: 600px){
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 20px;
    border: 1px solid rgb(146, 146, 146);
    border-radius: 10px;
    & > * {
    width: 100%;
    }
  }
}

.institution {
  font-weight: bold;
}

.experience_title {
  font-weight: bold;
  color: rgb(109, 109, 109);
}


.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.about_content{ 
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.content_item {
  list-style: none;
  padding: 0;
}

.sertificate {
  align-self: flex-end;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  position: relative;
  transition: 0.3s ease;
  &:before {
    position: absolute;
    opacity: 0;
    top: 0px;
    left: -5px;
    z-index: 1;
    content: "";
    background: url("../../assets/icons/search.svg") center center / contain no-repeat;
    width: 20px;
    height: 20px;
    transition: 0.3s ease;
  }
  &:hover {
    transition: 0.3s ease;
    img {
      transition: 0.3s ease;
      filter: blur(0.4px);
    }
    &::before {
      opacity: 1;
      transition: 0.3s ease;
    }
  }
}

.col2 {
  display: flex;
  justify-content: space-between;
}





