.skills{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 40px;
}
.title {
  font-size: 2rem;
  margin: 40px auto;
  text-transform: uppercase;
}

.cards {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  flex-wrap: wrap;
}
