.about {
  padding: 10px;
}

.title {
  font-size: 2em;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin: 20px auto;
  text-transform: uppercase;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  
  @media (max-width: 700px) {
    flex-wrap: wrap;
    align-items: center;
  }
}

.text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: justify;
}

.image {
  margin: 0 auto;
  max-width: 40%;
}