$show-burger: 800px;
$header-height: 70px;

.header_wrap {
  background-color: var(--header-bgcolor);
  color: var(--header-color);
  box-sizing: border-box;

  &.scroll {
    position: sticky;
    z-index: 100;
    top: 0;
    box-shadow: var(--header-shadow);

    &.header {
      border-bottom: none;
    }

  }
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;

  background-color: inherit;

  height: $header-height;

  @media (max-width: $show-burger) {
    justify-content: flex-end;
  }
}

.nav_wrap {
  flex: 1 1 100%;

  @media (max-width: $show-burger) {

    &.active {
      visibility: visible;
      opacity: 1;
      transition: 0.2s;
      z-index: 5;
    }

    visibility: hidden;
    opacity: 0;

    position: absolute;
    z-index: 0;
    left: 0;
    top: $header-height;

    height: 100vh;
    width: 100%;

    background-color: var(--header_nav_wrap-bgcolor);

    &.active .nav{
        transform: translateY(0%);
        transition: all 0.5s;
    }
  }
}

.nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  column-gap: 1em;

  @media (max-width: $show-burger) {
    transform: translateY(-100%);
    
    flex-direction: column;
    background-color: var(--header-bgcolor);
  }
}

.settings {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;

  position: relative;
  z-index: 101;

  width: 100%;
  height: 100%;

  background-color: var(--header-bgcolor);

  @media (max-width: $show-burger) {
    justify-content: flex-end;
  }
}

.nav__link {
  color: inherit;
  font-weight: 600;
  display: flex;
  padding: 10px;
  background-color: transparent;
  border-bottom: 1px solid transparent;
  &:hover, &.active {
    color: var(--link-active);
  }
  transition: all ease 0.3s;
}

.burger {
  position: relative;
  z-index: 1;

  cursor: pointer;

  border: none;
  background: transparent;

  width: 40px;
  height: 26px;
  display: none;

  @media (max-width: $show-burger) {
    display: block;
  }

  &::before,
  &::after {
    content: "";
    left: 0;
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 10px;
    background-color: var( --burger-color);
  }

  &::before {
    top: 0;
    box-shadow: 0 11px 0 var( --burger-color);
    transition: 0.3s 0.15s, top 0.3s 0.15s, transform 0.3s;
  }
  &::after {
    bottom: 0;
    transition: bottom 0.3s 0.15s, transform 0.3s, all 0.3s 0.15s, top 0.3s 0.15s, transform 0.3s;
  }

  &.active {
    &::before {
      top: 11px;
      transform: rotate(45deg);
      box-shadow: 0 6px 0 rgba(0, 0, 0, 0);
      transition: box-shadow 0.15s, top 0.3s, transform 0.3s 0.15s;
    }
    &::after {
      bottom: 11px;
      transform: rotate(-45deg);
      transition: bottom 0.3s, transform 0.3s 0.15s;
    }
  }
}
